{% extends 'user_page.html' %} {% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">
    {% for message in messages %}
    <li class="list-group-item">
      <a href="{{ url_for('messages.show', id=message.user_id, message_id=message.id ) }}" class="message-link" />
      <a href="{{ url_for('users.show', id=message.user_id) }}">
        {% if message.user.image_url != None %}
        <img src="{{ message.user.image_url }}" alt="Profile image for {{ message.user.username }}" class="timeline-image"> {% else %}
        <img src="{{ url_for('static', filename='images/default-profile.jpeg') }}" alt="Profile image for {{ message.user.username }}" class="timeline-image"> {% endif %}
      </a>
      <div class="message-area">
        <a href="{{ url_for('users.show', id=message.user_id) }}">@{{ message.user.username }}</a>
        <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
        <p>{{ message.text }}</p>
      </div>
      {% if current_user.does_like(message) %}
        <form method="POST" action="{{url_for('messages.like', id=message.user_id, message_id=message.id)}}?_method=DELETE" class="ml-auto">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <button type="submit" class="btn btn-link btn-lg"><i class="fas fa-heart"></i></button>
        </form>
      {% else %}
        <form method="POST" action="{{url_for('messages.like', id=message.user_id, message_id=message.id)}}" class="ml-auto">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <button type="submit" class="btn btn-link btn-lg"><i class="far fa-heart"></i></button>
        </form>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}